div.st-emotion-cache-1wivap2.e1i5pmia3{

    background-color: #EEEEEE;
    border: 1px solid blueviolet;
    border-radius: 5px;


}

div.st-emotion-cache-1n76uvr.e1f1d6gn1{
    color: white

}

span.st-emotion-cache-10trblm.e1nzilvr1{
    color: white

}



